* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.bigred {
  font-size: 20px;
  color: red;
}

.body {
  font-family: montserrat;
  background-color: #070c12;
}

.header {
  background-color: #070c12;
  width: 100%;
  border-bottom: #222222 solid 1px;
}

.header .container {
  max-width: 1140px;
  margin: 0 auto;
}

.header .container .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

.header .container .nav .header__logo {
  height: 100px;
  width: 150px;
}

.header .container .nav .header__logo .logo {
  position: absolute;
  height: 133px;
  margin-top: 10px;
}

.header .container .nav .header__logo .logo:hover {
  height: 140px;
}

.header .container .nav .nav__list .nav__list-item {
  display: inline-block;
  margin: 0;
  padding: 0 38px;
  font-weight: 400;
  font-size: 20px;
}

.header .container .nav .nav__list .nav__list-item .link {
  text-decoration: none;
  color: #fff;
}

.header .container .nav .nav__list .nav__list-item .link-active {
  text-decoration: underline;
  color: #fff;
}

.header .container .nav .nav__icons .nav__icon-instagram {
  width: 20px;
  padding: 5px;
}

.header .container .nav .nav__icons .nav__icon-whatsapp {
  width: 20px;
  padding: 5px;
}

.header .container .nav .nav__number {
  display: inline;
}

.header .container .nav .nav__number .icon-number {
  width: 26px;
}

.header .container .nav .nav__number .nav__number-text {
  display: inline-block;
  vertical-align: middle;
  padding: 3px;
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
}
